
    @font-face{
      font-family: proximasansregular;
        src: url('font/ufonts.com_proximasansregular.eot');
  src: local('☺'), url('font/ufonts.com_proximasansregular.woff') format('woff'), url('font/ufonts.com_proximasansregular.ttf') format('truetype'), url('font/ufonts.com_proximasansregular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
    }
    @font-face{
      font-family: BebasNeue;
      src: url('font/BebasNeue.eot');
      src: local('☺'), url('font/BebasNeue.woff') format('woff'), url('font/BebasNeue.ttf') format('truetype'), url('font/BebasNeue.svg') format('svg');
      font-weight: normal;
      font-style: normal;
    }
    body {
      color: #5a5a5a;
    }
    .carousel #scroll_img{
      width: 30px;
position: static;
height: auto;
min-width: 30px;
margin-top: 33px;
    }
    h6{
      font-style: italic;
      font-weight: normal;
    }
    #boton5 {
      color: red;
    }
    #logos_casos a{
      color: black;
      text-decoration: none;
    }
    #logos_casos a:hover{
      text-decoration: none;
    }
.onoffswitch {
    position: relative; width: 56px; margin: 10px 10px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #666666; border-radius: 16px;
}

.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; height: 16px; padding: 0; line-height: 16px;
    font-size: 12px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    border-radius: 16px;
    box-shadow: 0px 8px 0px rgba(0,0,0,0.08) inset;
}

.onoffswitch-inner:before {
    content: "ES";
    padding-left: 10px;
    background-color: #FF0000; color: #FFFFFF;
    border-radius: 16px 0 0 16px;
}

.onoffswitch-inner:after {
    content: "EN";
    padding-right: 15px;
    background-color: #5B5D5E; color: #FFFFFF;
    text-align: right;
    border-radius: 0 16px 16px 0;
}

.onoffswitch-switch {
    width: 16px; margin: 0px;
    background: #FF0000;
    border: 2px solid #666666; border-radius: 16px;
    position: absolute; top: 0; bottom: 0; right: 36px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
    background-image: -moz-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%); 
    background-image: -webkit-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%); 
    background-image: -o-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%); 
    background-image: linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%);
    box-shadow: 0 1px 1px white inset;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

    #carrusel-box1{
      width: 950px; 
    }
    #container-servicios, #container-casos, .container-contacto{
      padding-top: 40px;
    }
    #suscriber input, #suscriber #send_suscriber{
      float: left;
      margin: 0;
      padding: 0;
      height: 40px;
      vertical-align: middle;

    }
    #pos{
      position: absolute;
      left: 0;
      top: 0;
    }
    #suscriber input{
      border-radius: 0;
      border: none;
    }

    #suscriber  #send_suscriber{
      background: red;
      color: white;
      width: 104px;
      padding: 10px 0px 0px 27px;
      height: 30px;
    }
    #social-icons-footer li{
      list-style: none;
      margin: 2px 10px;
      display:inline-block;
    }
    .footer{
      padding-top: 30px;
    }

    .right{
      text-align: right;
      float: right;
    }
    .left{
      text-align: left;
      float: left;
    }
    .nav-bottom{
      list-style: none;
    }
    .nav-bottom li a{
      color: white;
    }
    .nav-bottom li{
      margin: 2px 5px;
      display: inline-block;
    }
    .container{
      width: 950px;
    }
    .head_form{
      height: 10px;
      width: 100%;
      background: red;
    }

    .line_form input, .line_form label{
      display: inline-block;
      vertical-align: top;
    } 
    .line_form input{
      height: 15px;
    }
    .line_form label{
      width: 95px;
    } 

    #contacto #form_1{
      float: left;
    }
    #contacto #form_2{
      float: right;
      
    }
    .content_form{
      padding: 15px;
    }


    .form_box{
      
      width: 360px;
      min-height: 300px;
      background: rgba(247, 247, 247, 0.8);
    }
    .title-section{
      color: white;
      width: 600px;
      height: 65px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      margin: 80px auto 70px auto;
    }
    .featurette-heading span{
      font-size: 20px;
      color: #aaa;
    }
    .title-section h2{
      font-size: 23px;
      margin: 0;
      padding: 0;
      line-height: 35px;
    }
    #slide03 h4{
      margin-bottom: 0;
      font-size: 12px;
    }
    #slide03 h6{
      margin-top: 0px;
    }

    .message{
      width: 90%;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      text-align: center; 
      font-size: 30px;   }
      .message .lead{
        font-size: 24px;
      }
    .navbar .nav{
      font-family:  proximasansregular;
      margin-top: 10px;
    margin-left: 25px;
    }

    .navbar-scroll{
      background: rgba(0,0,0,0.8);
    }

    .navbar-wrapper {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 2000;
      -webkit-transition: all 2s;
      -o-transition: all 2s;
      -moz-transition: all 2s;
      -ms-transition: all 2s;
    }
    .navbar .navbar-inner {
      border: 0;
      
    }
    .navbar .brand {
      padding: 14px 20px 16px; 
      font-size: 16px;
      font-weight: bold;
      text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    }
    .navbar .nav > li > a {
      padding: 0;
      color: white;
      margin: 14px 7px;
      cursor: pointer;
    }
    .navbar .nav > li > a:hover{
      border-bottom: 1px solid red;      
    }
    .navbar .btn-navbar {
      margin-top: 10px;
    }

    .carousel {
      background: url(../img/bg_home.jpg);
       -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    .carousel .container {
      text-align: center;
      position: relative;
      z-index: 9;
    }

    .carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      z-index: 10;
    }

    .carousel .item {
      height: 400px;
    }
    .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 500px;
    }

    .carousel-caption {
      background-color: transparent;
      position: static;
      max-width: 550px;
      padding: 0 20px;
     margin-top: 120px;
      width: 500px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
     .carousel-caption p{
        font-size: 31px;
      }
    .carousel-caption h1,
    .carousel-caption .lead {
      font-family: BebasNeue;
      margin: 0;
      font-size: 100px;
      line-height: 1.25;
      color: red;    
    }
    .carousel-caption .btn {
      margin-top: 10px;
      font-size: 13px;
      background: #6abc9c;
    }
    .marketing .span2 {
      text-align: center;
      width: 215px;
    }
    .marketing h2 {
      font-weight: normal;
    }
    .marketing .span2 p {
      margin-left: 10px;
      margin-right: 10px;
    }
    .featurette-divider {
      margin: 25px 0;
    }
    .featurette {
      padding-top: 10px; 
      overflow: hidden; 
    }


    .featurette-image.pull-left {
      margin-right: 40px;
    }
    .featurette-image.pull-right {
      margin-left: 40px;
    }

    .featurette-heading {
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;
    }

    .lead {
      margin-top: 40px;
      margin-bottom: 20px;
      font-size: 16px;
      font-weight: 200;
      line-height: 21px;
    }

    
    #logos_tecnologias ul{
      list-style: none;
      margin: 0;
      padding: 0;
      left: 0;
      right: 0;
      margin-right: auto;
      margin-left: auto;
      width: 932px;
    }
    #logos_tecnologias ul li{
      margin: 0;
      padding: 0;
      width: 230px;
      height: 210px;
      float: left;
      cursor: pointer;

    }

    #logos_tecnologias #first-row li:nth-child(even){
      background: #f5f5f3;
    }
    
    #logos_tecnologias #first-row li:nth-child(odd){
      background: #efeeec;
    }

    #logos_tecnologias #second-row li:nth-child(even){
      background: #efeeec;
    }
    #logos_tecnologias #second-row li:nth-child(odd){
      background: #f5f5f3;
    }
    #logos_tecnologias #second-row li:nth-child(even):hover{
      background: #f5f5f3;
    }
    #logos_tecnologias #second-row li:nth-child(odd):hover{
      background: #efeeec;
    }
    #logos_tecnologias #first-row li:nth-child(even):hover{
      background: #efeeec;
    }
    #logos_tecnologias #first-row li:nth-child(odd):hover{
      background: #f5f5f3;
    }
    #title-section_1{
      background: #6abc9c;
      box-shadow: 0px 8px 1px #f0f8f5;
    }
    #title-section_2{
      background: red;
      box-shadow: 0px 8px 1px #faedeb;
    }
    #title-section_3{
      background: #b19a68;
      box-shadow: 0px 8px 1px #f7f5f0;
    }
    #title-section_4{
      background: #e7aa32;
      box-shadow: 0px 8px 1px #fdf6ea;
    }
    #title-section_5{
      background: #5c95da;
      box-shadow: 0px 8px 1px #f1f9f8;
    }
    #title-section_6{
      background: #98a3a4;
      box-shadow: 0px 8px 1px #323333;
      margin: 40px auto;
    }
    .franja_negra{
      background: #262626;
      padding-bottom: 32px;
    }
  
    #contacto{
      width: 100%;
      background: url(../img/bg_bogota.jpg);
      min-height: 770px;
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;    }
    #logos_socios ul{
      list-style: none;
      left: 0;
      right: 0;
      margin-right: auto;
      margin-left: auto;
      width: 600px;
    }
    #logos_socios li{
      display: inline-block;
      margin: 0 22px;
    }
    #logos_casos{
      margin-bottom: 50px;
    }
    #logos_casos h5{
      margin: 0;
      padding: 0;
      text-align: center;
      line-height: 9px;
    }
    #logos_casos img{
      margin: 9px auto;
    }
    #logos_casos p{
      margin: 0;
      padding: 0;
      color: #777777;
      text-align: left;
    }

    #logos_casos ul{
      list-style: none;
      margin: 0;
      padding: 0;
      left: 0;
      right: 0;
      margin-right: auto;
      margin-left: auto;
      width: 932px;
      color: #fff;
    }
    #logos_casos ul li{
      text-align: center;
      margin: 3px 0;
      padding: 0;
      width: 230px;
      height: 210px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
    }

    #logos_casos #first-row li{
      background: #f0f0f0;
    }


    #logos_tecnologias #first-row #logo_1{
      background-image: url(../img/html5.png);
      background-repeat: no-repeat;
      background-position: center;
    }

    #logos_tecnologias #first-row #logo_2{
      background-image: url(../img/android.png);
      background-repeat: no-repeat;
      background-position: center;
    }

    #logos_tecnologias #first-row #logo_3{
      background-image: url(../img/ios.png);
      background-repeat: no-repeat;
      background-position: center;
    }

    #logos_tecnologias #first-row #logo_4{
      background-image: url(../img/phonegap.png);
      background-repeat: no-repeat;
      background-position: center;
    }

    #logos_tecnologias #second-row #logo_5{
      background-image: url(../img/django.png);
      background-repeat: no-repeat;
      background-position: center;
    }

    #logos_tecnologias #second-row #logo_6{
      background-image: url(../img/nodejs.png);
      background-repeat: no-repeat;
      background-position: center;
    }

    #logos_tecnologias #second-row #logo_7{
      background-image: url(../img/java.png);
      background-repeat: no-repeat;
      background-position: center;
    }

    #logos_tecnologias #second-row #logo_8{
      background-image: url(../img/magento.png);
      background-repeat: no-repeat;
      background-position: center;
    }
    .ver_mapa{
      color: red;
    }
    #boton_idioma{
      width: 53px;
      height: 25px;
      border-radius: 25px;
      background-color: #000;
      margin-top: 9px;
      position: relative;
    }
    #boton_on{
      background-color: red;
      width: 25px;
      height: 25px;
      border-radius: 25px;
      position: absolute;
      float: left;
      left: 0px;
      color: #fff;
    }
    #boton_off{
      background-color: #000;
      width: 25px;
      height: 25px;
      border-radius: 25px;
      position: absolute;
      float: left;
      right: 0px;
      color: #fff;
    }
   

    /* RESPONSIVE CSS
    -------------------------------------------------- */
    @media screen and (max-width: 1025px) {
      .container {
        width: 910px;
      }
      .marketing .span2{
        width: 200px;
      }
        #ui-carousel-next, #ui-carousel-prev {
        width: 40px;

        height: 240px;
        background: url(../img/arrow-left.png) #fff center center no-repeat;
        display: block;
        background-size: 100% auto;
        position: absolute;
        top: 800px;
        z-index: 100;
      }

      #ui-carousel-next {
        right: 5px;
        background-image: url(../img/arrow-right.png);
      }

      #ui-carousel-prev {
        left: 5px;
      }
      
      #ui-carousel-next > span, #ui-carousel-prev > span {
        display: none;
      }
      /* ///////////////*/
      #ui-carousel-next2, #ui-carousel-prev2 {
        width: 40px;

        height: 240px;
        background: url(../img/arrow-left.png) #fff center center no-repeat;
        display: block;
        background-size: 100% auto;
        position: absolute;
        top: 1580px;
        z-index: 100;
      }

      #ui-carousel-next2 {
        right: 5px;
        background-image: url(../img/arrow-right.png);
      }

      #ui-carousel-prev2 {
        left: 5px;
      }
      
      #ui-carousel-next2 > span, #ui-carousel-prev2 > span {
        display: none;
      }

    }
    @media screen and (min-width: 1025px) {
       #ui-carousel-next, #ui-carousel-prev {
        width: 60px;
        height: 240px;
        background: url(../img/arrow-left.png) #fff center center no-repeat;
        display: block;
        position: absolute;
        top: 800px;
        z-index: 100;
      }

      #ui-carousel-next {
        right: 10%;
        background-image: url(../img/arrow-right.png);
      }

      #ui-carousel-prev {
        left: 10%;
      }
      
      #ui-carousel-next > span, #ui-carousel-prev > span {
        display: none;
      }
      /* /////////////// */
      #ui-carousel-next2, #ui-carousel-prev2 {
        width: 60px;
        height: 240px;
        background: url(../img/arrow-left.png) #fff center center no-repeat;
        display: block;
        position: absolute;
        top: 1580px;
        z-index: 100;
      }

      #ui-carousel-next2 {
        right: 10%;
        background-image: url(../img/arrow-right.png);
      }

      #ui-carousel-prev2 {
        left: 10%;
      }
      
      #ui-carousel-next2 > span, #ui-carousel-prev2 > span {
        display: none;
      }

    }

    @media (max-width: 979px) {

      .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
      }
      .navbar-inner {
        border-radius: 0;
        margin: -20px 0;
      }

      .carousel .item {
        height: 400px;
      }
      .carousel img {
        width: auto;
        height: 500px;
      }

      .featurette {
        height: auto;
        padding: 0;
      }
      .featurette-image.pull-left,
      .featurette-image.pull-right {
        display: block;
        float: none;
        max-width: 40%;
        margin: 0 auto 20px;
      }
    }


    @media (max-width: 767px) {

      .navbar-inner {
        margin: -20px;
      }

      .carousel {
        margin-left: -20px;
        margin-right: -20px;
      }
      .carousel .container {

      }
      .carousel .item {
        height: 300px;
      }
      .carousel img {
        height: 300px;
      }
      .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-top: 100px;
      }

      .carousel-caption h1 {
        font-size: 30px;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 18px;
      }

      .marketing .span2 + .span2 {
        margin-top: 40px;
      }

      .featurette-heading {
        font-size: 30px;
      }
      .featurette .lead {
        font-size: 18px;
        line-height: 1.5;
      }

    }